<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- <div>
            <h1>if else statement</h1>
            <p>Age is : {{ age }}</p>
            {% if age >= 18 %}
            <p>Adult</p>
            {% else %}
            <p>Not Adult</p>
            {% endif %}
        </div>
        <div>
            <h1>if else if statement</h1>
            <p>Marks is : {{ marks }}</p>
            {% if  marks >= 90 %}
            <p>Grade A</p>
            {% elif marks >= 75 %}
            <p>Grade B</p>
            {% elif marks >= 60 %}
            <p>Grade C</p>
            {% elif marks >= 45 %}
            <p>Grade D</p>
            {% elif marks >= 33 %}
            <p>Grade E</p>
            {% else %}
            <p>Fail</p>
            {% endif %}


        </div>
        <div>
            <h1>subjects use in for loop</h1>
            <ul>
                {% for subject in sub %}
                <li>{{ subject | title  }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h1>subjects use in for loop with key and value</h1>
            <ul>
                {% for key , value in sub.items %}
                <li>{{key  }} : {{value }}</li>
                {% endfor %}
            </ul>
        </div> -->
        <div>
            <h1>Post data</h1>
            <p>Title: {{tittle}}</p>
            <p>Description : {{discription}}</p>
            <p>Author : {{author}}</p>
            <p>Date : {{Date}}</p>
            <p>Time : {{Time}}</p>
            <p>Month : {{month}}</p>
            <p>Tags : {{tags}}</p>
        </div>


    </body>
</html>