{% extends "employe/base.html" %}
{% block content %}
<h2 class="font-bold text-red-500 text-4xl mb-6">Delete</h2>
<h1 class="font-semibold text-xl">Are you sure you want to delete.<p class="text-purple-500">Name : {{employe.name}}</p></h1>
<form method='post'>
{% csrf_token %}
<div class="flex gap-5 mt-8">
<button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="submit">Yes, Delete</button>
<a href="{% url 'employe:emp_list' %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold  py-2 px-4 rounded">Cancel</a>
</div>
</form>
{% endblock content %}