{% extends 'base.html' %}
{% block title %}
about
{% endblock title %}

{% block content%}
<div class="bg-gray-200 p-8 ">
    <h1 class="text-2xl font-bold mb-4 text-center mt-25">About Me</h1>
    <p class="font-medium leading-relaxed text-center">
        My portfolio website is a personal platform that showcases my skills, projects, education, experience, and achievements. It provides an overview of my technical knowledge and development work. The website is designed with a clean, modern, and responsive user interface so that it works smoothly on desktop, tablet, and mobile devices.
        Hi, I'm Yuvraj Sisodiya, a passionate and motivated BCA student with a strong interest in web development and programming. I enjoy creating responsive and user-friendly websites and learning new technologies.

I have experience working with HTML, CSS, JavaScript, Bootstrap, Tailwind CSS, React, Python, and Django. I also have knowledge of C, C++, and MS Excel.

I enjoy solving programming problems, building projects, and improving my technical skills through practical learning. My goal is to start my career in the IT industry as a Web Developer / Software Developer and continuously grow as a professional.
    </p>
</div>

{% endblock content%}