{% extends 'base.html' %}
{% block title %}
contect
{% endblock title %}

{% block content%}
<div class="bg-gray-200 flex flex-col items-center justify-center p-8">
    <h1 class="text-2xl font-bold mb-4 text-center mt-25">Contact Me</h1>
    <form class="w-120 p-8 bg-white shadow-md rounded-2xl mb-10" action="#" method="post">
        {% csrf_token %}
        <input class="border border-gray-500 w-full rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500" type="text" id="name" name="name" placeholder="Your Name" required><br><br>

        <input class="border border-gray-500 w-full rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500" type="email" id="email" name="email" placeholder="Your Email" required><br><br>

        <textarea class="border border-gray-500 w-full rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500" id="message" name="message" placeholder="Your Message" rows="3" required></textarea><br><br>

        <input class="bg-blue-600 hover:bg-blue-400 w-full text-white font-bold py-2 px-4 rounded" type="submit" value="Send Message">
    </form>
{% endblock content%}