{% load static %}
<header class=" flex items-center position fixed w-full h-25 justify-between px-8 bg-white shadow-md">
    <img class="h-25 w-25" src="{% static 'images/logo.png' %}" alt="Logo">
        <ul class="flex gap-10 font-bold text-xl">
            <li class="hover:text-blue-500 "><a href="/">Home</a></li>
            <li class="hover:text-blue-500 "><a href="/about">About</a></li>
            <li class="hover:text-blue-500 "><a href="{% url 'contect' %}">Contact</a></li>
        </ul>
</header>