<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>student</title>
        <link rel="stylesheet" href='student/index.css'>
    </head>
    <body>
        <h1 style="text-align: center; background-color: rebeccapurple; color: white; padding: 20px;  margin: 0px;">Welcome to the Student's Home Page Dashboard</h1>
        <div  style="text-align: center; background-color: aqua; color: black; padding: 20px; border-radius: 5px; margin: 20px; width: 35%; margin-left: auto; margin-right: auto; ">
            <p>Name : {{name}}</p>
            <p>Enrollment no : {{enrol}}</p>
            <p>Section : BCA {{sec}}</p>
            <p>Semester : {{sem}}-sem</p>
            <p>{{colloge}}</p>
        </div>
       
    </body>

</html>