<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
</head>
<body>
    <h1>Welcome to My Blog Application </h1>
    <p>Hello, {{username}}</p>
    <p>
        Welcome to our website! We are happy to have you here. Our website is designed to provide useful information, helpful services, and a simple user-friendly experience. Explore different sections of our website, discover new things, and find everything you need in one place. 
    </p>
    <p>Thank you for visiting our website, and we hope you have a great experience with us.</p>
</body>
</html>