<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base file</title>
   
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
   <div class="w-full">
     <nav class="bg-gray-200 px-15 py-4 mb-4 flex justify-between items-center">
        
            <a class="text-gray-800 hover:text-blue-700 no-underline text-2xl" href="{% url 'todo:task_show' %}">TODO APP</a>
            <a class=" no-underline bg-blue-500 text-white rounded py-2 px-2 hover:bg-blue-400" href="{% url 'todo:task_created' %}">ADD TASK</a>
        
    </nav>
   </div>
    <div class="">
        {% block content %}
        
        {% endblock content %}
     
    </div>
</body>
</html>