{% extends "todo/base.html" %}

{% block content %}
<div class="w-full max-w-4xl mx-auto">
   <h2>All List </h2>
<table class=" table-auto w-full mt-3 text-start border-separate border-spacing-y-2">
   <thead>
      <tr>
         <th class="text-start ps-3">Title</th>
         <th class="text-start ps-3">Description</th>
         <th class="text-start ps-3">Done</th>
         <th class="text-start ps-3">Created</th>
         <th class="text-start ps-4">Actions</th>
      </tr>
   </thead>
   <tbody>
      {% for task in tasks %}
      <tr class="bg-gray-200">

         <td class="px-3 py-2 "> {{task.title}}</td>
         <td class="px-3 py-2"> {{task.description}}</td>
         <td class="px-3 py-2"> {{task.completed}}</td>
         <td class="px-3 py-2"> {{task.create_date}}</td>
         
         <td class="px-4 py-2">
            <a href="#" class="bg-red-500 text-blue-500 hover:text-blue-700">Edit</a>
            <a href="#" class="bg-red-500 text-blue-500 hover:text-blue-700">Delete</a>
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>
</div>
{% endblock content %}