<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Student Management{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-slate-100 min-h-screen flex flex-col">
    <!-- Navbar -->
    <nav class="bg-gradient-to-r from-blue-600 to-indigo-600 shadow-lg">
      <div
        class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <a
          href="{% url 'studentapp:std_list' %}"
          class="text-white text-2xl md:text-3xl font-bold tracking-wide hover:text-blue-100 transition"
    > 🎓 Student Dashboard
        </a>
        <a
          href="{% url 'studentapp:add_std' %}"
          class="bg-white text-blue-600 hover:bg-blue-50 font-bold px-5 py-2 rounded-lg shadow transition hover:scale-105"> + Add Student
        </a>
      </div>
    </nav>
    <main class="flex-1">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 py-8">
        {% block content %} 
        {% endblock %}
      </div>
    </main>
  </body>
</html>
