<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
</head>
<body>
    
    <!-- Footer -->
    <footer class="bg-slate-800 text-white mt-10">

        <div class="max-w-7xl mx-auto px-6 py-5
                    flex flex-col md:flex-row
                    justify-between items-center gap-2">

            <p class="text-sm text-slate-300">
                © 2026 Student Management System
            </p>

            <p class="text-sm text-slate-400">
                Built with Django & Tailwind CSS
            </p>

        </div>

    </footer>
</body>
</html>